---
layout: default
---

<div class="home">



  <h1 class="page-heading">Hallo,</h1>
  <p>My name is Midas and I am a web- and software developer from the Netherlands studying Informatica at the HAN University of Applied Science.</p>
  <p>I'm a full-stack JavaScript developer using MongoDB, ExpressJS, AngularJS, and NodeJS. This includes being very well versed in HTML5 and CSS3. I build websites that are responsive and mobile-first. Furthermore I have worked on several Java, PHP, and Ruby projects.</p>
  <p>I like tinkering around with linux servers and spend most of my time in a linux environment. </p>
  <p>Below I have recounted the projects that I have created or participated in,  with keywords of activities and experience plus a reflection and any other relevant information. I also blog from time to time and write tutorials on a wide range of subjects. </p>

  <section id="projects">
    {% include projects-grid.html %}

  </section>

  <section id="blog-latest">
  	{% include blog-latest.html %}
  </section>

</div>
