---
layout: default
---

<div class="home">
  <p>My name is Midas and I am a web- and software developer from the Netherlands studying Informatica at the HAN University of Applied Science.</p>
  <p>I'm a full-stack JavaScript developer using MongoDB, ExpressJS, AngularJS, and NodeJS. This includes being very well versed in HTML5 and CSS3. I build websites that are responsive and mobile-first. I have also worked on several Java, PHP, and Ruby projects.</p>
  <p>I'm interested in Big Data and Business Intelligence and have experience in using SSIS and SSAS.</p>

  <section id="projects">
    {% include projects-grid.html %}

  </section>

  <section id="blog-latest">
  	{% include blog-latest.html %}
  </section>

</div>
