<h2 class="">Latest projects</h2>

<ul>

  <li class="projects-grid">

    {% for post in site.categories.portfolio limit:2 %}
      <ul class="grid_item">
          <li class="project-title">
              <h3>{{ post.title}}</h3>
              <p class="project-description">
                  {{post.description}}
              </p>
          </li>

          <li class="img">
              {% assign image = post.images[0] %}
              {% include image.html image=image %}
          </li>
          </li>
      </ul>
</ul>

{% endfor %}