---
layout: default
---

<h1>History & Present</h1>

<p>I'm a <span class='dynamicBirthday'></span> year old web- and software developer.
	I graduated as BSc Informatica at the University of Applied Science of Arnhem and Nijmegen ([HAN](https://han.nl)).
	During my studies I worked on databases, Java, SQL, network infrastructure, and other web-related tools (HTML, JS, CSS, etc..).
	I minored in Business Intelligence, setting up a Data Warehouse using SSIS, SASS, Qlickview, and PowerShell.
</p>

<p>
	I completed my third year internship and graduation internship in Den Bosch, at TaxModel. Creating an SSO and data synchronisation application in C# ASP.NET MVC (using WCF for services) during my third year internship. The graduation internship consisted of creating an application for benchmarking - creating (micro) services for webcrawling, translating, and Excel parsing.
</p>

<p>Since 2018 I started working at GX Software in Nijmegen. I have since then switched back to Java after spending the previous years usign C#.  </p>
<script type='text/javascript'>
(function() {
	setAge();
})();

function setAge() {
	document.getElementsByClassName("dynamicBirthday")[0].innerHTML = getDynamicAge(1992, 03, 04);
}

function getDynamicAge(year, month, day) {
	var birthDate = new Date(year, month, day);
	var currentDate = new Date();
	var difference = currentDate - birthDate;
	return Math.floor(difference / 31557600000);
}
</script>
