---
layout: default
---

<p>
	I'm a <span class='year'></span> year old web- and software developer.
	I graduated with a BSc in Informatica (Software Engineering) at the University of Applied Science of Arnhem and Nijmegen <a href="https://han.nl">(HAN)</a>.
</p>

<h4>Besides</h4>
<p>
	Besides all the tech stuff I follow a number of topics.
	I enjoy keeping up with current affairs, more specifically the Dutch radio/podcast <a href="#">Oog op morgen</a>.
	Other podcasts I follow are <a href="https://www.thisamericanlife.org/">This American Life</a>,
	<a href="http://www.hellointernet.fm/">Hello Internet</a>, and <a href="http://www.thisiscriminal.com/">Criminal</a>.
	Furthermore I am an avid fan of <a href="https://nec-nijmegen.nl">N.E.C.</a>, the football club from Nijmegen.
</p>


<script type='text/javascript'>
(function() {
	setAge();
})();

function setAge() {
	document.getElementsByClassName("year")[0].innerHTML = calculateYear(1992, 03, 04);
}

function calculateYear(year, month, day) {
	var birthDate = new Date(year, month, day);
	var currentDate = new Date();
	var difference = currentDate - birthDate;
	return Math.floor(difference / 31557600000);
}
</script>
