--- 
layout: default 
---
<div class="post">
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	</header>
	<article class="post-content">
		{{ content }}
	</article>
</div>
<script src='https://rawgit.com/midasvo/inputbinderjs/master/inputBinder.js'></script>
<script type='text/javascript'>
var inputBinder = new inputBinder("websitename", ['code', 'pre'], "#@WEBSITE@#", "dynamic-text-template");
</script>